.list {
  display: flex;
  width: 1040px;
  margin: 0 auto;
  &-places {
    width: 500px;
    height: 80vh;
    overflow: auto;
    &_card {
        margin: 5px 10px;
        margin-bottom: 20px;
        margin-right: 10px;
    }
  }
  &-map {
    margin-left: 10px;
    width: 100%;
    height: 80vh;
  }
}

.mat-card:focus {
  outline: 3px solid gold;
}
