.reviews-list {
  margin-top: 2px;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: whitesmoke;
}

.mat-list-item.mat-list-item-word-wrap {
  padding: 10px;
  height: initial !important;
  width: calc(100% - 30px);
  .mat-line {
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
  }
}
