.place-block {
  margin-top: 50px;
  &__info {
    display: flex;
    & .img {
      width: calc(100% - 400px);
    }
    & .description {
      max-width: 400px;
      & h3 {
        margin-bottom: 5px;
      }
    }
  }
  &__img {
    width: 100%;
    height: 200px;
  }
  & .map {
    width: 100%;
    height: 380px;
  }
}