<div class="content">
  <mat-card class="place-block">
    <mat-card-header class="header">
      <mat-card-title class="title">{{place?.name}}</mat-card-title>
      <mat-card-subtitle>{{place?.category?.name}}</mat-card-subtitle>
      <div>что-то</div>
    </mat-card-header>
    <div class="place-block__info">
      <carousel class="img" [maxSlides]="3" [images]="place?.images || []"></carousel>
      <mat-card-content class="description">
        <div class="phone mb-2">
        <h2>Телефон</h2>
        {{place?.phone ? '+7' + place?.phone : 'Отсутствует'}}
        </div>
        <div class="mb-2">
        <h2>Описание</h2>
        <p>
          {{place?.description}}
        </p>
        <ng-container *ngIf="place?.website">
        <a href={{place?.website}} target="_blank">Перейти на сайт</a>
        </ng-container>
      </div>
      <div class="tags">
        <mat-chip-list aria-label="Fish selection">
          <mat-chip *ngFor="let tag of place?.tags">{{tag.name}}</mat-chip>
        </mat-chip-list>
      </div>
      </mat-card-content>
    </div>
    <h2>Расположение</h2>
    <p>{{place?.address?.region}}, г.{{place?.address?.city}}, {{place?.address?.street}} {{place?.address?.house}}</p>
    <div class="map">
      <ya-map [center]="placemark[0]?.geometry!" [state]="mapState" (ready)="onMapReady($event)">
        <ya-placemark *ngFor="let place of placemark" [geometry]="place.geometry"
          [properties]="place.properties" [options]="place.options"></ya-placemark>
      </ya-map>
    </div>
  </mat-card>
</div>
