.place-block {

  & .header {
    justify-content: space-between;
  }

  & .views {
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 3px;
  }

  &__info {
    display: flex;
    
    & .img {
      width: 100%;
    }
    & .description {
      width:  calc(100% - 400px);
      & a {
        color: #000000DE;
      }
      & h2 {
        margin-bottom: 5px;
      }
      & .phone {
        padding: 16px 18px;
        background: #ebebeb;
        border: 1px solid #ccc;
        border-radius: 3px;
        text-align: center;
        &:hover {
          background: whitesmoke;
        }
      }
      @media (max-width: 450px) {
        width: 100%;
    }
    }
    @media (max-width: 450px) {
      flex-direction: column;
  }
  }
  &__img {
    width: 100%;
    height: 200px;
  }
  & .map {
    margin: 5px 0;
    width: 100%;
    height: 380px;
  }
}

.form-review {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.reviews-list {
  margin-top: 2px;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: whitesmoke;
}

.tags {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 1rem;
}

.mat-list-item.mat-list-item-word-wrap {
  padding: 15px;
  height: initial !important;
  width: calc(100% - 30px);
  .mat-line {
    word-wrap: break-word !important; 
    white-space: pre-wrap !important;
  }
}