<div>
  <div class="button-close">
    <button mat-icon-button (click)="close()">
      <mat-icon>clear</mat-icon>
    </button>
  </div>
  <form #formCategory="ngForm">
    <div class="input-group" name="category">
      <mat-form-field appearance="fill">
        <mat-label>Название</mat-label>
        <input matInput name="name" [(ngModel)]="category.name" [disabled]="isDisabledField">
      </mat-form-field>
    </div>
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let tag of category.tags" [selectable]="selectable"
               [removable]="removable" [disabled]="isDisabledField" (removed)="remove(tag)">
        {{tag.name}}
        <button matChipRemove *ngIf="removable">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input placeholder="Добавить теги"
             [matChipInputFor]="chipList"
             [disabled]="isDisabledField"
             [matChipInputAddOnBlur]="addOnBlur"
             (matChipInputTokenEnd)="addTag($event)">
    </mat-chip-list>
  </form>
  <div class="button-group mt-5">
    <ng-container *ngIf="isReading && isDisabledField else read">
      <button mat-stroked-button color="basic" (click)="reading()">Изменить</button>
      <button mat-raised-button color="warn" (click)="deleting()">Удалить</button>
    </ng-container>
  </div>
  <ng-template #read>
    <button [disabled]="formCategory.invalid" mat-raised-button color="accent"
      (click)="submit(formCategory)">Отправить</button>
      <button mat-raised-button color="warn"
      (click)="cancel()">Отмена</button>
  </ng-template>
</div>
