.form {
  width: 100%;
}

.mt-5 {
  margin-top: 50px;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.button-close {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.button-group {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
