.form {
  width: 100%;
}

.dialog-blocks {
  display: flex;
  margin-bottom: 10px;

  &__input {
    margin: 0 20px 0 0;
    padding: 0 5px 0 5px;

    & form {
      display: flex;
      flex-direction: column;
      width: 450px;
      padding: 10px;
    }

    & .published {
      margin: 10px 0;
    }

  }

  &__address {
    max-width: 400px;

    & form {
      display: flex;
      flex-direction: column;
      width: 300px;
      border: 1px dotted;
    }
  }

}

.images-block {
  margin: 10px;
}

.mt-5 {
  margin-top: 50px;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.img {
  width: calc(100% / 4);
}

.title-dialog {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.button-group {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.images-view {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
}

.drop-area {
  border: 2px dashed #ccc;
  padding: 10px;
  text-align: center;
  color: gray;
}

.text-button {
  cursor: pointer;
  font-size: 16px;

  &:hover {
    color: black;
  }

}