.form {
  width: 100%;
}

.dialog-blocks {
  display: flex;
  min-height: 70vh;

  &__input {
    max-width: 500px;
    margin: 0 20px 0 0;
    padding: 0;

    & form {
      display: flex;
      flex-direction: column;
      width: 450px;
      padding-right: 10px;
    }

  }

  &__images {
    max-width: 300px;
  }

  &__address {
    max-width: 400px;

    & form {
      display: flex;
      flex-direction: column;
      width: 300px;
      border: 1px dotted;
    }
  }

}

.mt-5 {
  margin-top: 50px;
}

.input-group {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.title-dialog {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.button-group {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}