<div>
  <div class="title-dialog">
    <h2 mat-dialog-title>Форма добавления и редактирования места</h2>
    <button mat-icon-button mat-dialog-close>
      <mat-icon>clear</mat-icon>
    </button>
  </div>
  <mat-dialog-content>
    <form #formPlace="ngForm">
      <div class="dialog-blocks">
        <div class="dialog-blocks__input">
          <mat-checkbox name="published" class="dialog-blocks__input published" [(ngModel)]="place.published">
            Опубликовано</mat-checkbox>
          <mat-form-field appearance="fill" class="main-input">
            <mat-label>Название места</mat-label>
            <input matInput name="name" required [(ngModel)]="place.name" [disabled]="isDisabledField">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Категория</mat-label>
            <mat-select name="category" [compareWith]="compareFn" [(ngModel)]="place.category" required
              [disabled]="isDisabledField">
              <mat-option *ngFor="let category of categories" [value]="category">{{category.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" class="phone-input" *ngIf="place.phone || !isDisabledField">
            <mat-label>Телефон</mat-label>
            <span matPrefix>+7 &nbsp;</span>
            <input type="tel" matInput  name="phone" [(ngModel)]="place.phone" placeholder="555-555-1234"  [disabled]="isDisabledField">
            <mat-icon matSuffix>mode_edit</mat-icon>
          </mat-form-field>
          <mat-form-field appearance="fill" class="main-input"  *ngIf="place.website || !isDisabledField">
            <mat-label>Вебсайт</mat-label>
            <input matInput name="website" [(ngModel)]="place.website" [disabled]="isDisabledField">
          </mat-form-field>

          <mat-form-field appearance="fill" class="main-input">
            <mat-label>Описание</mat-label>
            <textarea matInput name="description" [(ngModel)]="place.description" required
              [disabled]="isDisabledField"></textarea>
          </mat-form-field>
          <ng-container *ngIf="!isReading">
            <mat-label class="label-text">Выберите адрес или <span class="button-text"
                (click)="addAddress = !addAddress">добавьте</span> новый</mat-label>
            <address-search (selectAddressEvent)="selectAddress($event)"></address-search>
          </ng-container>
        </div>

        <div class="dialog-blocks__address">
          <div class="input-group" name="address" *ngIf="addAddress || isReading">
            <mat-label class="label-text"><b>Местоположение</b></mat-label>
            <mat-form-field appearance="fill" class="input-address">
              <mat-label>Страна</mat-label>
              <input matInput name="country" [(ngModel)]="place.address!.country" [disabled]="isDisabledField">
            </mat-form-field>
            <mat-form-field appearance="fill" class="input-address">
              <mat-label>Регион</mat-label>
              <input matInput name="region" [(ngModel)]="place.address!.region" [disabled]="isDisabledField">
            </mat-form-field>
            <mat-form-field appearance="fill" class="input-address">
              <mat-label>Город</mat-label>
              <input matInput name="city" [(ngModel)]="place.address!.city" [disabled]="isDisabledField">
            </mat-form-field>
            <mat-form-field appearance="fill" class="input-address">
              <mat-label>Улица</mat-label>
              <input matInput name="street" [(ngModel)]="place.address!.street" [disabled]="isDisabledField">
            </mat-form-field>
            <mat-form-field appearance="fill" class="input-address">
              <mat-label>Дом</mat-label>
              <input matInput name="house" [(ngModel)]="place.address!.house" [disabled]="isDisabledField">
            </mat-form-field>
          </div>
        </div>
      </div>
    </form>
  </mat-dialog-content>

  <mat-dialog-content>
  <mat-label><b>Изображения</b></mat-label>
  <div class="images-block">
    <upload-field #files [images]="images" [disabled]="!isDisabledField" (upload)="uploadImage($event)">
    </upload-field>
    <div [uploadFile]="files" class="drop-area" *ngIf="!isDisabledField">
      Перенесите изображения или
      <input [uploadFile]="files" id="img" type="file" style="display:none;">
      <label for="img">нажмите <b class="text-button">сюда</b></label>
    </div>
  </div>
</mat-dialog-content>

  <mat-dialog-actions align="start">
    <ng-container *ngIf="isReading && isDisabledField else read">
      <button mat-stroked-button color="basic" (click)="reading()">Изменить</button>
      <button mat-raised-button color="warn" (click)="deleting()">Удалить</button>
    </ng-container>
  </mat-dialog-actions>
  <ng-template #read>
    <button [disabled]="formPlace.invalid" mat-raised-button color="accent" (click)="submit()">Отправить</button>
    <button mat-raised-button color="warn" (click)="cancel()">Отмена</button>
  </ng-template>
</div>
