.toolbar {
    &_nav {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    a {
        color: white;
    }
}

.footer {
    margin-top: 10px;
    max-height: 100px;
}