<mat-toolbar color="warn" class="toolbar">
  <div class="toolbar_nav content">
    <div>
    <a routerLink="" routerLinkActive="active"><button mat-button>Главная</button></a>
    <button mat-button [matMenuTriggerFor]="belowMenu">Категории</button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
      <button mat-menu-item><a routerLink="/info">Категория 1</a></button>
      <button mat-menu-item><a routerLink="/admin">Админка</a></button>
    </mat-menu>
    </div>
    <div><a routerLink="" routerLinkActive="active"><button mat-button>Войти</button></a></div>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
<div class="content footer">
  <mat-divider></mat-divider>
  © Network 2021
</div>