.form-address {
  margin-bottom: 40px;
}

.places-list {
  max-width: 300px;
  margin: 0 10px;
  padding: 0;

  & h3 {
    margin: 0 0 6px;
  }
}

.mt-5 {
  margin-top: 50px;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.title-dialog {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

