<div>
  <div class="title-dialog">
    <h2 mat-dialog-title>Форма добавления и редактирования адреса</h2>
    <button mat-icon-button mat-dialog-close>
      <mat-icon>clear</mat-icon>
    </button>
  </div>
  <div class="form-address">
    <mat-dialog-content class="input-group">
      <form #formAddress="ngForm">
        <div class="input-group" name="address">
          <mat-form-field appearance="fill">
            <mat-label>Страна</mat-label>
            <input matInput name="country" [(ngModel)]="address.country" [disabled]="isDisabledField">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Регион</mat-label>
            <input matInput name="region" required [(ngModel)]="address.region" [disabled]="isDisabledField">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Город</mat-label>
            <input matInput name="city" required [(ngModel)]="address.city" [disabled]="isDisabledField">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Улица</mat-label>
            <input matInput name="street" required [(ngModel)]="address.street" [disabled]="isDisabledField">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Дом</mat-label>
            <input matInput name="house" required [(ngModel)]="address.house" [disabled]="isDisabledField">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Долгота</mat-label>
            <input matInput name="latitude" [(ngModel)]="address.latitude" [disabled]="isDisabledField">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Широта</mat-label>
            <input matInput name="longitude" [(ngModel)]="address.longitude" [disabled]="isDisabledField">
          </mat-form-field>
        </div>
      </form>
    </mat-dialog-content>

    <mat-dialog-content *ngIf="places.length" class="places-list">
      <h3>Все места:</h3>
      <mat-nav-list>
        <a mat-list-item *ngFor="let place of address.places" target="_blank"
          routerLinkActive="active">{{place.name}}</a>
      </mat-nav-list>
    </mat-dialog-content>
  </div>

  <mat-dialog-actions>
    <ng-container *ngIf="isReading && isDisabledField else read">
      <button mat-stroked-button color="basic" (click)="reading()">Изменить</button>
      <button mat-raised-button color="warn" (click)="deleting()">Удалить</button>
    </ng-container>
  </mat-dialog-actions>
  <ng-template #read>
    <button [disabled]="formAddress.invalid" mat-raised-button color="accent"
      (click)="submit(formAddress)">Отправить</button>
    <button mat-raised-button color="warn" (click)="cancel()">Отмена</button>
  </ng-template>
</div>
