<main class="content">
  <div class="search-block">
    <h1>Что ищем?</h1>
    <span>{{message}}</span>
    <div class="search-block__input">
      <mat-form-field class="form-field" appearance="fill">
        <input type="text" matInput [(ngModel)]="input" (ngModelChange)="onAutoComplite($event)" placeholder="Введите что хотите найти" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of searchResult" [value]="option" (click)="goResultPage(option)">
            {{input}} <mat-icon class="icon">keyboard_backspace</mat-icon> <span class="result">{{option.place ? option.place.name : option.category.name}}</span>
          </mat-option>
        </mat-autocomplete>
        <mat-hint align="start"><strong>Например:</strong> Кинотеатры в Дзержинске</mat-hint>
      </mat-form-field>
      <button mat-raised-button color="warn" class="search-button">Найти</button>
    </div>
  </div>
  <div class="categories-block">
    <h1>Все категории</h1>
    <div class="categories-list">
      <ul class="categories-list_nav">
        <ng-container *ngIf="loading">
          <loader *ngFor="let i of Array(18).fill('')" Lwidth="154" Lheight="24"></loader>
        </ng-container>
        <li *ngFor="let category of categories">
          <a [routerLink]="['/categories', category.name]">{{category.name}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="popular-places">
    <h1>Популярные места</h1>
    <div class="place">
      <ng-container *ngIf="loading">
        <loader *ngFor="let i of Array(9).fill('')" Lwidth="242" Lheight="300"></loader>
      </ng-container>
      <mat-card *ngFor="let place of popularPlaces" class="card" (click)="goPlaceDetail(place.name)">
        <ng-container *ngIf="place.images">
          <img mat-card-image src={{place.images[0].url}}>
        </ng-container>
        <mat-card-header>
          <mat-card-title>{{place.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          {{place.description}}
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</main>
