<main class="content">
    <div class="search-block">
        <h1>Что ищем?</h1>
        <span>{{message}}</span>
        <div class="search-block__input">
            <mat-form-field class="main-input" appearance="fill">
                <input 
                type="text" 
                matInput
                [(ngModel)]="input"
                (change)="changes()"
                placeholder="Введите что хотите найти">
                <mat-hint align="start"><strong>Например:</strong> Кинотеатры в Дзержинске</mat-hint>
            </mat-form-field>
            <button mat-raised-button color="warn" (click)="search()" class="search-button">Найти</button>
        </div>
    </div>
    <div>

        <mat-list>
            <div mat-subheader>Все категории</div>
            <mat-list-item *ngFor="let category of categories">
              <mat-icon mat-list-icon>folder</mat-icon>
              <div mat-line>{{category.name}}</div>
              <div mat-line> Кол-во мест:  </div>
            </mat-list-item>
        </mat-list>
    </div>
</main>
