
.search-block{
    margin-top: 50px;
    &__input {
        display: flex;
        & .form-field {
            width: 100%;
        }

        @media (max-width: 450px) {
            flex-direction: column;
        }
    }
}
.search-button {
    width: 100px;
    height: 50px;
    @media (max-width: 450px) {
        width: 100%;
    }
}
.categories-block {
    margin-top: 30px;
    & h1 {
        text-align: center;
    }
    & .categories-list {
        &_nav {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
            padding: 0;

            & li  {
                font-size: 20px;
            }
            & a {
                color: black;
                &:hover {
                    color: brown;
                }
            }
        }
    }
}
.popular-places {
    margin-top: 30px;
    & h1 {
        text-align: center;
    }

    & .place {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        & .card {
            flex-basis: 21%;
            &:hover {
                outline: 3px solid gold;
            }
        }
        @media (max-width: 450px) {
            flex-direction: column;
        }
    }
}

.result {
    color: gray;
    font-size: 12px;
}