<mat-form-field class="example-full-width" appearance="fill" class="input-address">
    <mat-label>Введите улицу</mat-label>
    <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (click)="select(option)" [ngClass]="_allowSelection(option)">
        {{option.city }} {{option.street }} {{option.house }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>