<ng-container *ngIf="data.data.length else NoData">
  <div class="row">
    <button matTooltip="Добавить" mat-mini-fab color="warn" aria-label="add form" (click)="openFormDialog('add')">
      <mat-icon>add</mat-icon>
    </button>
    <mat-form-field appearance="standard" class="filter">
      <mat-label>Фильтр</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="data">
      <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
        <th mat-header-cell *matHeaderCellDef>
          {{column.header}}
        </th>
        <td mat-cell *matCellDef="let row">
          {{column.cell(row)}}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-row" (click)="openFormDialog(row)">
        ></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Не найдено данных по фильтру "{{input.value}}"</td>
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
  </div>

</ng-container>
<ng-template #NoData>
  <mat-spinner></mat-spinner>
</ng-template>
