.rating {
  width: 200px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.noHover{
  pointer-events: none;
}

.default {
  color: #c2c2c2;
}

.icon-button {
  width: 20px;
}